# CONFIGURAÇÕES SUPABASE
SUPABASE_URL=URL_DO_SEU_SUPABASE
SUPABASE_KEY=SUA_ANON_KEY_DO_SUPABASE

# CONFIGURAÇÕES EVOLUTION (SERVIDOR CENTRAL)
CENTRAL_EVO_URL=https://sua-instancia-evolution.com
CENTRAL_EVO_KEY=SUA_GLOBAL_API_KEY_AQUI
